/* You can add global styles to this file, and also import other style files */

element {
    --primary: rgb(21, 125, 245);
}

body {
    margin: 0;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: var(--primary);
}